<div *ngIf="currentUser" class="row" style="margin-top: 50px">
  <div class = "col-sm-6" style="margin-top: 10px">
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        All Blogs
      </div>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-2'>Search by Title:</div>
          <div class='col-md-4'>
            <input type='text' [(ngModel)]='listFilter' />
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <h3>Filtered by: {{listFilter}} </h3>
          </div>
        </div>

        <div class='table-responsive'>
          <table class='table'
                 *ngIf='blogs && blogs.length'>
            <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Created On</th>
              <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let blog of filteredBlogs'>
              <td><a [routerLink]="['/blogs', blog.id]">
                {{ blog.Title }}
              </a>
              </td>
              <td>{{blog.createdByName}}</td>
              <td>{{ blog.createdOn }}</td>
              <td>{{ blog.category }}</td>
              <td ><input *ngIf="currentUser.favorites.indexOf(blog.id) === -1" type="button" class="btn btn-primary btn-sm" value="Mark Fav" (click)="markFavorite(blog)"/></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class='panel panel-primary'>
      <div class='panel-heading'>
        Favorite Blogs
      </div>
      <div class='panel-body'>


        <div class='table-responsive'>
          <table class='table'
                 *ngIf='favoriteBlogs && favoriteBlogs.length'>
            <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Created On</th>
              <th>Category</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor='let blog of favoriteBlogs'>
              <td><a [routerLink]="['/blogs', blog.id]">
                {{ blog.Title }}
              </a>
              </td>
              <td>{{blog.createdByName}}</td>
              <td>{{ blog.createdOn }}</td>
              <td>{{ blog.category }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-5" style="margin-top: 10px" *ngIf='currentUser'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        Add Blog
      </div>
      <form name="form" (ngSubmit)="AddBlog()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Title.valid }">
          <label for="Title">Title</label>
          <input type="text" class="form-control" name="Title" [(ngModel)]="model.Title" #Title="ngModel" required />
        </div>



        <div class="form-group" [froalaEditor]="options"  name="body" [(ngModel)]="model.body" #body="ngModel" required>Hello, Add your blog here!</div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !category.valid }">
          <label for="category">Category</label>
          <input type="text" class="form-control" name="category" [(ngModel)]="model.category" #category="ngModel" required />
        </div>


        <input type="button" class="btn btn-primary btn-sm" value="Add Blog" (click)="AddBlog()">
      </form>
    </div>
  </div>
</div>
